<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>

  <base target="_parent">
  
  <link rel="stylesheet" href="css/iframe.css"><title>Adeptus Mechanicus : Servo.Skull.690</title>
  

  
  
  <meta charset="utf-8">

  
  <link rel="stylesheet" href="../templates/css/menustyles.css">

  
  <link rel="stylesheet" href="../templates/css/crt.css">

  
  <link rel="stylesheet" href="../templates/css/typewriter.css"></head><body style="background-image: url(../templates/imgs/hexbackprimaris.png);" alink="#000099" link="#000099" vlink="#990099">
<table style="text-align: left; width: 800px; height: 500px; margin-left: auto; margin-right: auto;" border="0" cellpadding="0" cellspacing="0">

  <tbody>
    <tr>
      <td colspan="5" rowspan="1" style="vertical-align: top; background-color: red; height: 20px; width: 800px; text-align: center;"><img style="width: 800px; height: 20px;" alt="barmaing" src="imgs/barmaing.gif"><br>
      </td>
    </tr>
    <tr>
      <td colspan="5" rowspan="1"><br>
      </td>
    </tr>
    <tr>
      <td style="height: 400px; width: 10px; background-color: rgb(102, 0, 0);" colspan="1" rowspan="5"><br>
      </td>
      <td style="height: 10px; width: 770px; text-align: center; vertical-align: bottom; background-color: rgb(204, 0, 0);" colspan="3" rowspan="1"><img style="width: 770px; height: 10px;" alt="top" src="../templates/imgs/top.png"> </td>
      <td style="height: 400px; width: 10px; background-color: rgb(204, 0, 0);" colspan="1" rowspan="5"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 60px; background-color: rgb(204, 0, 0);">&nbsp;&nbsp;&nbsp;
      <br>
      </td>
      <td style="vertical-align: top; text-align: center; background-color: rgb(204, 0, 0);"><!-- main content window -->
      <iframe target="_parent" name="iframe_a" src="../templates/audio2.html" frameborder="0" height="400" scrolling="no" width="770"> </iframe><!-- main content window -->
      <br>
</td>
      <td style="vertical-align: top; width: 60px; background-color: rgb(204, 0, 0);">&nbsp;&nbsp;&nbsp;
      <br>
      </td>
    </tr>
    <tr>
      <td style="height: 10px; width: 770px; text-align: center; vertical-align: top; background-color: rgb(204, 0, 0);" colspan="3" rowspan="1"><img style="width: 770px; height: 10px;" alt="bottom" src="../templates/imgs/bottom.png"> </td>
    </tr>
    <tr>
      <td colspan="3" rowspan="1" style="vertical-align: middle; height: 80px; width: 770px; text-align: center; background-color: rgb(204, 0, 0);"><!-- variable message --><br>
      <div id="quoteContainer"><img width:="" 187px;="" height:="" 71px;="" id="40kEaglelogo" src="../templates/imgs/Aquila_transparent.png" alt="40kEaglelogo"></div>
<!-- variable message --> </td>
    </tr>
    <tr>
      <td style="height: 50px; text-align: left; vertical-align: top; width: 770px; background-color: rgb(153, 0, 0);" colspan="3" rowspan="1"><!-- nav window --> <img style="width: 800px; height: 7px;" alt="bottom" src="../templates/imgs/bottom.png"><iframe src="../templates/nav_iframe.html" frameborder="0" height="45" scrolling="no" width="770"> </iframe><!-- nav window --><img style="width: 385px; height: 5px;" alt="top" src="../templates/imgs/top.png"> </td>
    </tr>
    <tr>
      <td style="width: 800px; white-space: nowrap; text-align: center; vertical-align: top;" colspan="5" rowspan="1"><br>
      </td>
    </tr>
    <tr>
      <td colspan="5" rowspan="1" style="vertical-align: top; background-color: red; height: 20px; width: 800px; text-align: center;"><img style="width: 800px; height: 20px;" alt="barmaing" src="imgs/barmaing.gif">
      </td>
    </tr>
  </tbody>
</table>

<br>

<br>

<br>

<br>

<br>

<script type="text/javascript"></script>
<script src="../templates/js/jquery.min.js"></script>
<script src="../templates/js/index.js"></script>
<script src="../templatesjs/jquery.min.js"></script>
<script src="../templatesjs/typewriter.js"></script>
</body></html>