<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head>
  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>ABOUT SERVO SKULL 690</title>

  
  
  <link rel="stylesheet" type="text/css" href="css/view.css" media="all"><link rel="stylesheet" type="text/css" href="css/crt.css" media="all">

</head><body style="color: rgb(0, 0, 0); background-color: rgb(102, 0, 0); background-image: url(imgs/bleck.png);"alink="#330000" link="#330000" vlink="#330000">
  <span class="crt">
  <table style="text-align: left; width: 640px; background-color: rgb(153, 0, 0); margin-left: auto; margin-right: auto; font-family: Courier New,Courier,monospace;" border="0" cellpadding="0" cellspacing="0">

  <tbody>
    <tr>
      <td colspan="3" rowspan="1" style="vertical-align: top;"><img id="top" src="imgs/top.png" alt=""></td>
    </tr>
    <tr>
      <td colspan="3" rowspan="1" style="vertical-align: top; background-color: red;"> <br>
      </td>
    </tr>
    <tr>
      <td colspan="3" rowspan="1" style="vertical-align: top;">
      <h3 class="redHeading">&nbsp;About Servo Skull 690<br>
      </h3>
&nbsp;
A complete list of parts<br>
      </td>
    </tr>
    <tr>
      <td colspan="3" rowspan="1" style="vertical-align: top;"> <br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 20px;"><br>
      </td>
      <td style="vertical-align: top; width: 600px; background-color: rgb(204, 0, 0);">
      <h1>Introduction Text</h1>
&nbsp; This servo skull was based on Primaris Ancient Dhane Twicelook<br>
      <br>
      <img style="width: 234px; height: 393px;" id="SS069" src="imgs/primarisancient.png" alt="" align="left" hspace="40">Killed in action at location<br>
Twicelook's skull was retrived and <br>
      <br>
Illumination <br>
- LED lighing<br>
(part,specs)<br>
      <br>
<br>
- IR LED lighting<br>
(part, specs)<br>
      <br>
<br>
- Laser Diode<br>
      (part, specs)<br>
      <br>
<br>
Mobility<br>
- Ground movement with treads<br>
      (mobile system,parts, specs)<br>
      <br>
<br>
Control<br>
- Remote and Autonomous<br>
(flask, python)<br>
      <br>
      <br>
      </td>
      <td style="vertical-align: top; width: 20px;"> <br>
      </td>
    </tr>
    <tr>
      <td colspan="3" rowspan="1" style="vertical-align: top; width: 640px;"><img style="width: 613px; height: 10px;" id="bottom" src="imgs/bottom.png" alt=""></td>
    </tr>
    <tr align="center">
      <td colspan="3" rowspan="1" style="vertical-align: top; width: 640px;">
      <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
      <script src="js/index.js"></script>
      <div id="quoteContainer"> <img width:="" 187px;="" height:="" 71px;="" id="40kEaglelogo" src="imgs/Aquila_transparent.png" alt=""></div>
      </td>
    </tr>
    <tr>
      <td colspan="3" rowspan="1" style="vertical-align: top;"><img id="top" src="imgs/top.png" alt=""></td>
    </tr>
    <tr align="center">
      <td colspan="3" rowspan="1" style="vertical-align: top; width: 640px; background-color: red;">*
[ <a href="Index.html">INDEX</a> ] * [ <a href="Orders.html">ORDERS</a>
]
* [ <a href="Navigation.html">NAVIGATION</a>
]
* [ <a href="Video.html">VIDEO</a> ] * [ <a href="Audio.html">AUDIO</a>
] * [ <a href="ABOUT.HTML">ABOUT</a> ] * </td>
    </tr>
    <tr>
      <td colspan="3" rowspan="1" style="vertical-align: top; width: 640px;"><img id="bottom" src="imgs/bottom.png" alt=""></td>
    </tr>
  </tbody>
</table>

<br style="font-family: Courier New,Courier,monospace;">

<br style="font-family: Courier New,Courier,monospace;">

</span class="crt"></body></html>